
        <!-- jQuery CDN -->
        <script
          src="https://code.jquery.com/jquery-3.1.1.min.js"
          integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
          crossorigin="anonymous"></script>
        <!-- Custom JS for any page -->
        <script type="text/javascript" src="/scripts/main.js"></script>
        <!-- Custom JS for search feature -->
        <script src="/scripts/search.js" async defer></script>
        <!-- Custom JS for showing map -->
        <script src="/scripts/showPageMap.js"></script>
        <!-- Bootstrap JS CDN -->
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
        
        <div class="ui vertical footer segment">
          <div class="container">
            <!--<p class="text-muted">&copy; kitzzen 2021 | <a href="/foods">Home</a> | <a href="/foods/new">Sell New Food</a></p>-->
          </div>
        </div>
    </body>
</html>