<% include ./partials/header %>
<% include ./partials/navbarComponent %>

<div style="margin: auto; width: 60%;">
    <img style="width: 100%; padding-top: 90px;" src="https://res.cloudinary.com/projectstore/image/upload/v1627539783/utils/error_page_light.png" alt="">
</div>

<% include ./partials/footer %>