<div id="loading-component">
    <div class="loading-container">
        <div style="text-align: center; margin: auto; padding-top: 40%;">
            <img class="loading-image" src="https://res.cloudinary.com/projectstore/image/upload/v1626455936/logo/cook_logo_square_1_trans.png">
        </div>
        <div class="loading-line">
            <div class="loading-inner"></div>
        </div>
    </div>
</div>