.loading-container {
    width: 270px;
    vertical-align: middle;
    text-align: center;
    margin: auto;
    justify-content: center;
}

.loading-image{
    display: block;
    width: 120px;
    text-align: center;
    margin: auto;
}

.loading-line {
    height: 4px;
    width: 100%;
    background: #e8e8e8;
    margin-top: 20%;
}

.loading-line .loading-inner {
    width: 100%;
    height: inherit;
    background: #033f8d;
    animation: slide 2s ease-in-out infinite;
}

@keyframes slide {
    0% {
        transform-origin: left;
        transform: scalex(0.3);
   }
    25% {
        transform-origin: left;
        transform: scalex(1);
   }
    26% {
        transform-origin: right;
        transform: scalex(1);
   }
    50% {
        transform-origin: right;
        transform: scalex(0.3);
   }
    75% {
        transform-origin: right;
        transform: scalex(1);
   }
    76% {
        transform-origin: left;
        transform: scalex(1);
   }
    100% {
        transform-origin: left;
        transform: scalex(0.3);
   }
}
