/* Sticky footer styles
-------------------------------------------------- */
#trigger-emoji-picker-rating {
  position: absolute;
  left: 0.5em;
  bottom: 0.3em;
  cursor: pointer;
}

.hidden {
  display: none;
}

.popup-thumbnail {
  transition: box-shadow 0.1s;
}

.popup-thumbnail:hover {
  box-shadow: 0 0 11px rgba(33,33,33,.2);
}

html {
  position: relative;
  min-height: 100%;
}
body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
  background-color: #f5f5f5;
}

.container .text-muted {
  margin: 20px 0;
}

/* Thumbnail styles */
.thumbnail img {
    width: 100%;
}

.thumbnail {
    padding: 0;
}

.thumbnail .caption-full {
    padding: 9px;
}

/* Google Map styles */
#map {
	height: 400px;
	width: 100%;
}

/* Food show page delete button */
.delete-form {
	display: inline-block;
}

/* Flexbox grid fix */
.flex-wrap {
  display:flex;
  flex-wrap: wrap;
}

i.icon{
    font-size: 2em;
}

.container.main{
    margin-top: 7em;
}

hr.style13 {
	height: 10px;
	border: 0;
	box-shadow: 0 10px 10px -10px #8c8b8b inset;
}

hr.style2 {
	border-top: 3px double #8c8b8b;
}

/* small user avatar for header*/
.header-avatar {
  object-fit: cover;
  border-radius:25%;
  width: 32px;
  height: 32px;
}

hr.style1{
	border-top: 1px solid rgba(34,36,38,.2);
}

/* avatar for reply session*/
.add-reply-avatar {
  object-fit: cover;
  border-radius:5%;
  width: 65px;
  height: 65px;
}

/*reply comment box*/
.add-reply{
  margin-left: 15px;
  border-radius: 2px;
  margin-bottom: 5px;
  padding: 10px;
  box-shadow: inset 0 0 1px rgba(0,0,0,.05);
  border: 1px solid #d5d5d5;
  height:65px;
  width:87%;
}
