<% include ../partials/header %>
<% include ../partials/navbarComponent %>
<% include ../partials/flashMessageComponent %>

<div class="container">
    <div class="row">
        <h1 style="text-align: center">Create a new Food post</h1>
        <div style="width: 30%; margin: 50px auto">
            <form action="/foods" method="POST" enctype="multipart/form-data">
                <div class="form-group">
                    <label for="name">Title</label>
                    <input class="form-control" type="text" name="name" id="name" required>
                </div>
                <div class="form-group">
                    <label for="price">Price</label>
                    <input class="form-control" type="number" name="price" id="price" min="1" step="0.1" required>
                </div>
                <div class="form-group">
                    <label for="image">Image</label>
                    <input type="file" id="image" name="image" accept="image/*" required>
                </div>
                <div class="form-group">
                    <label for="location">Location</label>
                    <input class="form-control" type="text" name="location" id="location" placeholder="Your address / postal code" required>
                </div>
                <div class="form-group">
                    <label for="textarea-description">Description</label>
                    <textarea class="form-control" type="text" name="description" id="textarea-description" rows="7" cols="12" placeholder="Tell more about your product..." required></textarea>
                    <span id="trigger-emoji-picker-description" style="opacity: 0.6; cursor: pointer;">😄</span>
                    <div class="form-group hidden" id="emoji-picker-description">
                        <emoji-picker class="light"></emoji-picker>
                    </div>
                </div>
                <div class="form-group">
                    <button class="btn btn-lg btn-primary btn-block">Submit!</button>
                </div>
            </form>
            <a href="/foods">Go back</a>
        </div>
    </div>
</div>

<% include ../partials/footer %>